.cart-open {
    flex-shrink: 0;
    display: flex;
    position: sticky;
    top: 75px;
    margin: 20px;
    flex-direction: column;
    justify-content: space-between;
    background-color: whitesmoke;
    width: 200px;
    height: min-content;
    padding: 15px;
    border-radius: 20px;
}

.cart-open h2 {
    text-align: center;
    margin: 0 0 20px;
}

.cart-open div {
    padding: 5px;
}

.cart-open div:nth-child(even) {
    background-color: grey;
}

.cart-closed {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    background-color: whitesmoke;
    height: 50px;
    aspect-ratio: 1 / 1;
}

.cart-closed:hover,
.cart-open button:hover {
    cursor: pointer;
    filter:invert();
}

img.icon {
    width: 40px;
    height: 40px;
}

.buttons-cart {
    margin-top: 20px;
}

.cartList {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
