select {
    width: 160px;
    height: 43px;
    color: white;
    background-color: rgb(0, 0, 0);
    border: solid 1px transparent;
    padding: 5px;
    font-size: large;
    font-weight: bold;
    text-align: center;
}

select:hover {
    border: solid 1px white;
    cursor: pointer;
    filter:invert();
    transition: filter ease 0.5s, border ease 0.5s;
}
