h1 {
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    margin: 0;
    color: var(--green-color)
}

.header {
    background-color: #00062a;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    margin-bottom: 15px;;
    gap: 10px;
}

.header img {
    aspect-ratio: 1 / 1 ;
    width: 60px;
}