.planetBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 250px;
    height: fit-content;
    padding: 0 0 20px 0;
    border: solid rgba(255, 255, 255, 0.486) 1px;
    border-radius: 5px;
}

.planetBox p {
    color: white;
    margin: 0;
}

.planetBox p.price {
    color: var(--red-color);
    font-size: 20px;
    font-weight: bold;
}

.planetBox h2 {
    margin-bottom: 0;
    font-family: Exo;
    color: white;
}

.planetBox .img-box {
    width: 230px;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.planetBox img {
    width: 200px;
    aspect-ratio: 1 / 1;
}

.planetBox img:hover {
    cursor: pointer;
    width:230px;
    filter:brightness(1.2);
    transition: filter ease 0.5s, width ease 0.5s;
}

.planetBox button {
    margin-top: 10px;
    padding: 5px;
    font-size: 15px;
    color: white;
    background-color: black;
    border-radius: 5px;
    cursor: pointer;
}

.planetBox button:hover {
    filter: invert();
}