.planetBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 250px;
    height: fit-content;
    padding: 0 0 20px 0;
    border-radius: 20px;
}

.planetBox img {
    width: 200px;
    aspect-ratio: 1 / 1;
}

.planetBox h2 {
    color: white;
}